db/impex/client/demo/src/main/resources/data.dtd

<!ELEMENT dataset (
    ACCT_DD_ATTR_DOC|
    BK_ADDRESS_T|
    BK_ADDRESS_TYP_T|
    BK_AUTHOR_ACCOUNT_T|
    BK_AUTHOR_T|
    BK_BOOK_AUTHOR_T|
    BK_BOOK_T)*>
<!ELEMENT ACCT_DD_ATTR_DOC EMPTY>
<!ATTLIST ACCT_DD_ATTR_DOC
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    ACCT_NUM CDATA #REQUIRED
    ACCT_OWNR CDATA #REQUIRED
    ACCT_BAL CDATA #REQUIRED
    ACCT_OPN_DAT CDATA #REQUIRED
    ACCT_STAT CDATA #REQUIRED
    ACCT_UPDATE_DT_TM CDATA #IMPLIED
    ACCT_AWAKE CDATA #IMPLIED
>

<!ELEMENT BK_ADDRESS_T EMPTY>
<!ATTLIST BK_ADDRESS_T
    ADDRESS_ID CDATA #IMPLIED
    AUTHOR_ID CDATA #IMPLIED
    ADDR_TYP CDATA #IMPLIED
    STREET1 CDATA #IMPLIED
    STREET2 CDATA #IMPLIED
    CITY CDATA #IMPLIED
    PROVIENCE CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_ADDRESS_TYP_T EMPTY>
<!ATTLIST BK_ADDRESS_TYP_T
    ADDR_TYP CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_AUTHOR_ACCOUNT_T EMPTY>
<!ATTLIST BK_AUTHOR_ACCOUNT_T
    AUTHOR_ID CDATA #IMPLIED
    ACCOUNT_NUMBER CDATA #IMPLIED
    BANK_NAME CDATA #IMPLIED
>

<!ELEMENT BK_AUTHOR_T EMPTY>
<!ATTLIST BK_AUTHOR_T
    AUTHOR_ID CDATA #IMPLIED
    NM CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE_NBR CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_BOOK_AUTHOR_T EMPTY>
<!ATTLIST BK_BOOK_AUTHOR_T
    BOOK_ID CDATA #IMPLIED
    AUTHOR_ID CDATA #IMPLIED
>

<!ELEMENT BK_BOOK_T EMPTY>
<!ATTLIST BK_BOOK_T
    BOOK_ID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    TYP_CD CDATA #IMPLIED
    ISBN CDATA #IMPLIED
    PUBLISHER CDATA #IMPLIED
    PUB_DATE CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRICE CDATA #IMPLIED
    RATING CDATA #IMPLIED
>

