db/impex/client/demo/src/main/resources/data.dtd

<!ELEMENT dataset (
    ACCT_DD_ATTR_DOC|
    BK_ADDRESS_T|
    BK_ADDRESS_TYP_T|
    BK_AUTHOR_ACCOUNT_T|
    BK_AUTHOR_T|
    BK_BOOK_AUTHOR_T|
    BK_BOOK_T|
    BK_BOOK_TYP_T|
    BK_ORDER_DOC_T|
    BK_ORDER_ENTRY_T|
    KRCR_CMPNT_SET_T|
    KRCR_CMPNT_T|
    KRCR_DRVD_CMPNT_T|
    KRCR_NMSPC_T|
    KRCR_PARM_T|
    KRCR_PARM_TYP_T|
    KRCR_STYLE_T|
    KREN_CHNL_PRODCR_T|
    KREN_CHNL_SUBSCRP_T|
    KREN_CHNL_T|
    KREN_CNTNT_TYP_T|
    KREN_MSG_DELIV_T|
    KREN_MSG_T|
    KREN_NTFCTN_MSG_DELIV_T|
    KREN_NTFCTN_T|
    KREN_PRIO_T|
    KREN_PRODCR_T|
    KREN_RECIP_DELIV_T|
    KREN_RECIP_LIST_T|
    KREN_RECIP_PREFS_T|
    KREN_RECIP_T|
    KREN_RVWER_T|
    KREN_SNDR_T|
    KREW_ACTN_ITM_T|
    KREW_ACTN_RQST_T|
    KREW_ACTN_TKN_T|
    KREW_APP_DOC_STAT_TRAN_T|
    KREW_ATTR_DEFN_T|
    KREW_ATT_T|
    KREW_DLGN_RSP_T|
    KREW_DOC_HDR_CNTNT_T|
    KREW_DOC_HDR_EXT_DT_T|
    KREW_DOC_HDR_EXT_FLT_T|
    KREW_DOC_HDR_EXT_LONG_T|
    KREW_DOC_HDR_EXT_T|
    KREW_DOC_HDR_T|
    KREW_DOC_LNK_T|
    KREW_DOC_NTE_T|
    KREW_DOC_TYP_APP_DOC_STAT_T|
    KREW_DOC_TYP_ATTR_T|
    KREW_DOC_TYP_PLCY_RELN_T|
    KREW_DOC_TYP_PROC_T|
    KREW_DOC_TYP_T|
    KREW_EDL_ASSCTN_T|
    KREW_EDL_DEF_T|
    KREW_EDL_DMP_T)*>
<!ELEMENT ACCT_DD_ATTR_DOC EMPTY>
<!ATTLIST ACCT_DD_ATTR_DOC
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    ACCT_NUM CDATA #REQUIRED
    ACCT_OWNR CDATA #REQUIRED
    ACCT_BAL CDATA #REQUIRED
    ACCT_OPN_DAT CDATA #REQUIRED
    ACCT_STAT CDATA #REQUIRED
    ACCT_UPDATE_DT_TM CDATA #IMPLIED
    ACCT_AWAKE CDATA #IMPLIED
>

<!ELEMENT BK_ADDRESS_T EMPTY>
<!ATTLIST BK_ADDRESS_T
    ADDRESS_ID CDATA #IMPLIED
    AUTHOR_ID CDATA #IMPLIED
    ADDR_TYP CDATA #IMPLIED
    STREET1 CDATA #IMPLIED
    STREET2 CDATA #IMPLIED
    CITY CDATA #IMPLIED
    PROVIENCE CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_ADDRESS_TYP_T EMPTY>
<!ATTLIST BK_ADDRESS_TYP_T
    ADDR_TYP CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_AUTHOR_ACCOUNT_T EMPTY>
<!ATTLIST BK_AUTHOR_ACCOUNT_T
    AUTHOR_ID CDATA #IMPLIED
    ACCOUNT_NUMBER CDATA #IMPLIED
    BANK_NAME CDATA #IMPLIED
>

<!ELEMENT BK_AUTHOR_T EMPTY>
<!ATTLIST BK_AUTHOR_T
    AUTHOR_ID CDATA #IMPLIED
    NM CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE_NBR CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_BOOK_AUTHOR_T EMPTY>
<!ATTLIST BK_BOOK_AUTHOR_T
    BOOK_ID CDATA #IMPLIED
    AUTHOR_ID CDATA #IMPLIED
>

<!ELEMENT BK_BOOK_T EMPTY>
<!ATTLIST BK_BOOK_T
    BOOK_ID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    TYP_CD CDATA #IMPLIED
    ISBN CDATA #IMPLIED
    PUBLISHER CDATA #IMPLIED
    PUB_DATE CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PRICE CDATA #IMPLIED
    RATING CDATA #IMPLIED
>

<!ELEMENT BK_BOOK_TYP_T EMPTY>
<!ATTLIST BK_BOOK_TYP_T
    TYP_CD CDATA #IMPLIED
    NM CDATA #IMPLIED
    DESC_TXT CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_ORDER_DOC_T EMPTY>
<!ATTLIST BK_ORDER_DOC_T
    DOC_HDR_ID CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT BK_ORDER_ENTRY_T EMPTY>
<!ATTLIST BK_ORDER_ENTRY_T
    BK_ORDER_ENTRY_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    BOOK_ID CDATA #REQUIRED
    QUANTITY CDATA #REQUIRED
    UNIT_PRICE CDATA #IMPLIED
    DISCOUNT CDATA #IMPLIED
    TOTAL_PRICE CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRCR_CMPNT_SET_T EMPTY>
<!ATTLIST KRCR_CMPNT_SET_T
    CMPNT_SET_ID CDATA #IMPLIED
    LAST_UPDT_TS CDATA #REQUIRED
    CHKSM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KRCR_CMPNT_T EMPTY>
<!ATTLIST KRCR_CMPNT_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRCR_DRVD_CMPNT_T EMPTY>
<!ATTLIST KRCR_DRVD_CMPNT_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    NM CDATA #IMPLIED
    CMPNT_SET_ID CDATA #REQUIRED
>

<!ELEMENT KRCR_NMSPC_T EMPTY>
<!ATTLIST KRCR_NMSPC_T
    NMSPC_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    APPL_ID CDATA #IMPLIED
>

<!ELEMENT KRCR_PARM_T EMPTY>
<!ATTLIST KRCR_PARM_T
    NMSPC_CD CDATA #IMPLIED
    CMPNT_CD CDATA #IMPLIED
    PARM_NM CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    PARM_TYP_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
    PARM_DESC_TXT CDATA #IMPLIED
    EVAL_OPRTR_CD CDATA #IMPLIED
    APPL_ID CDATA #IMPLIED
>

<!ELEMENT KRCR_PARM_TYP_T EMPTY>
<!ATTLIST KRCR_PARM_TYP_T
    PARM_TYP_CD CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
>

<!ELEMENT KRCR_STYLE_T EMPTY>
<!ATTLIST KRCR_STYLE_T
    STYLE_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    XML CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREN_CHNL_PRODCR_T EMPTY>
<!ATTLIST KREN_CHNL_PRODCR_T
    CHNL_ID CDATA #IMPLIED
    PRODCR_ID CDATA #IMPLIED
>

<!ELEMENT KREN_CHNL_SUBSCRP_T EMPTY>
<!ATTLIST KREN_CHNL_SUBSCRP_T
    CHNL_SUBSCRP_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_CHNL_T EMPTY>
<!ATTLIST KREN_CHNL_T
    CHNL_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    SUBSCRB_IND CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_CNTNT_TYP_T EMPTY>
<!ATTLIST KREN_CNTNT_TYP_T
    CNTNT_TYP_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    CUR_IND CDATA #REQUIRED
    CNTNT_TYP_VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    XSD CDATA #REQUIRED
    XSL CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_MSG_DELIV_T EMPTY>
<!ATTLIST KREN_MSG_DELIV_T
    MSG_DELIV_ID CDATA #IMPLIED
    MSG_ID CDATA #REQUIRED
    TYP_NM CDATA #REQUIRED
    SYS_ID CDATA #IMPLIED
    STAT_CD CDATA #REQUIRED
    PROC_CNT CDATA #REQUIRED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_MSG_T EMPTY>
<!ATTLIST KREN_MSG_T
    MSG_ID CDATA #IMPLIED
    ORGN_ID CDATA #IMPLIED
    DELIV_TYP CDATA #REQUIRED
    CRTE_DTTM CDATA #REQUIRED
    TTL CDATA #IMPLIED
    CHNL CDATA #REQUIRED
    PRODCR CDATA #IMPLIED
    CNTNT CDATA #REQUIRED
    CNTNT_TYP CDATA #IMPLIED
    URL CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_NTFCTN_MSG_DELIV_T EMPTY>
<!ATTLIST KREN_NTFCTN_MSG_DELIV_T
    NTFCTN_MSG_DELIV_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    RECIP_ID CDATA #REQUIRED
    STAT_CD CDATA #REQUIRED
    SYS_ID CDATA #IMPLIED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_NTFCTN_T EMPTY>
<!ATTLIST KREN_NTFCTN_T
    NTFCTN_ID CDATA #IMPLIED
    DELIV_TYP CDATA #REQUIRED
    CRTE_DTTM CDATA #REQUIRED
    SND_DTTM CDATA #IMPLIED
    AUTO_RMV_DTTM CDATA #IMPLIED
    PRIO_ID CDATA #REQUIRED
    TTL CDATA #IMPLIED
    CNTNT CDATA #REQUIRED
    CNTNT_TYP_ID CDATA #REQUIRED
    CHNL_ID CDATA #REQUIRED
    PRODCR_ID CDATA #REQUIRED
    PROCESSING_FLAG CDATA #REQUIRED
    LOCKD_DTTM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_PRIO_T EMPTY>
<!ATTLIST KREN_PRIO_T
    PRIO_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    PRIO_ORD CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_PRODCR_T EMPTY>
<!ATTLIST KREN_PRODCR_T
    PRODCR_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    DESC_TXT CDATA #REQUIRED
    CNTCT_INFO CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_RECIP_DELIV_T EMPTY>
<!ATTLIST KREN_RECIP_DELIV_T
    RECIP_DELIV_ID CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    CHNL CDATA #REQUIRED
    NM CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_RECIP_LIST_T EMPTY>
<!ATTLIST KREN_RECIP_LIST_T
    RECIP_LIST_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    RECIP_TYP_CD CDATA #REQUIRED
    RECIP_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_RECIP_PREFS_T EMPTY>
<!ATTLIST KREN_RECIP_PREFS_T
    RECIP_PREFS_ID CDATA #IMPLIED
    RECIP_ID CDATA #REQUIRED
    PROP CDATA #REQUIRED
    VAL CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
>

<!ELEMENT KREN_RECIP_T EMPTY>
<!ATTLIST KREN_RECIP_T
    RECIP_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    RECIP_TYP_CD CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREN_RVWER_T EMPTY>
<!ATTLIST KREN_RVWER_T
    RVWER_ID CDATA #IMPLIED
    CHNL_ID CDATA #REQUIRED
    TYP CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    VER_NBR CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KREN_SNDR_T EMPTY>
<!ATTLIST KREN_SNDR_T
    SNDR_ID CDATA #IMPLIED
    NTFCTN_ID CDATA #REQUIRED
    NM CDATA #REQUIRED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_ITM_T EMPTY>
<!ATTLIST KREW_ACTN_ITM_T
    ACTN_ITM_ID CDATA #IMPLIED
    PRNCPL_ID CDATA #REQUIRED
    ASND_DT CDATA #REQUIRED
    RQST_CD CDATA #REQUIRED
    ACTN_RQST_ID CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    ROLE_NM CDATA #IMPLIED
    DLGN_PRNCPL_ID CDATA #IMPLIED
    DOC_HDR_TTL CDATA #IMPLIED
    DOC_TYP_LBL CDATA #REQUIRED
    DOC_HDLR_URL CDATA #REQUIRED
    DOC_TYP_NM CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    DLGN_TYP CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    DTYPE CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    DLGN_GRP_ID CDATA #IMPLIED
    RQST_LBL CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_RQST_T EMPTY>
<!ATTLIST KREW_ACTN_RQST_T
    ACTN_RQST_ID CDATA #IMPLIED
    PARNT_ID CDATA #IMPLIED
    ACTN_RQST_CD CDATA #REQUIRED
    DOC_HDR_ID CDATA #REQUIRED
    RULE_ID CDATA #IMPLIED
    STAT_CD CDATA #REQUIRED
    RSP_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #IMPLIED
    ROLE_NM CDATA #IMPLIED
    QUAL_ROLE_NM CDATA #IMPLIED
    QUAL_ROLE_NM_LBL_TXT CDATA #IMPLIED
    RECIP_TYP_CD CDATA #IMPLIED
    PRIO_NBR CDATA #REQUIRED
    RTE_TYP_NM CDATA #IMPLIED
    RTE_LVL_NBR CDATA #REQUIRED
    RTE_NODE_INSTN_ID CDATA #IMPLIED
    ACTN_TKN_ID CDATA #IMPLIED
    DOC_VER_NBR CDATA #REQUIRED
    CRTE_DT CDATA #REQUIRED
    RSP_DESC_TXT CDATA #IMPLIED
    FRC_ACTN CDATA #IMPLIED
    ACTN_RQST_ANNOTN_TXT CDATA #IMPLIED
    DLGN_TYP CDATA #IMPLIED
    APPR_PLCY CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    RQST_LBL CDATA #IMPLIED
>

<!ELEMENT KREW_ACTN_TKN_T EMPTY>
<!ATTLIST KREW_ACTN_TKN_T
    ACTN_TKN_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    PRNCPL_ID CDATA #REQUIRED
    DLGTR_PRNCPL_ID CDATA #IMPLIED
    ACTN_CD CDATA #REQUIRED
    ACTN_DT CDATA #REQUIRED
    DOC_VER_NBR CDATA #REQUIRED
    ANNOTN CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    DLGTR_GRP_ID CDATA #IMPLIED
>

<!ELEMENT KREW_APP_DOC_STAT_TRAN_T EMPTY>
<!ATTLIST KREW_APP_DOC_STAT_TRAN_T
    APP_DOC_STAT_TRAN_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
    APP_DOC_STAT_FROM CDATA #IMPLIED
    APP_DOC_STAT_TO CDATA #IMPLIED
    STAT_TRANS_DATE CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_ATTR_DEFN_T EMPTY>
<!ATTLIST KREW_ATTR_DEFN_T
    ATTR_DEFN_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    NMSPC_CD CDATA #REQUIRED
    LBL CDATA #IMPLIED
    ACTV CDATA #REQUIRED
    CMPNT_NM CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESC_TXT CDATA #IMPLIED
>

<!ELEMENT KREW_ATT_T EMPTY>
<!ATTLIST KREW_ATT_T
    ATTACHMENT_ID CDATA #IMPLIED
    NTE_ID CDATA #IMPLIED
    FILE_NM CDATA #REQUIRED
    FILE_LOC CDATA #REQUIRED
    MIME_TYP CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DLGN_RSP_T EMPTY>
<!ATTLIST KREW_DLGN_RSP_T
    DLGN_RULE_ID CDATA #IMPLIED
    RSP_ID CDATA #REQUIRED
    DLGN_RULE_BASE_VAL_ID CDATA #REQUIRED
    DLGN_TYP CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_HDR_CNTNT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_CNTNT_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_CNTNT_TXT CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_DT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_DT_T
    DOC_HDR_EXT_DT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_FLT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_FLT_T
    DOC_HDR_EXT_FLT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_LONG_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_LONG_T
    DOC_HDR_EXT_LONG_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_EXT_T EMPTY>
<!ATTLIST KREW_DOC_HDR_EXT_T
    DOC_HDR_EXT_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    KEY_CD CDATA #REQUIRED
    VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_HDR_T EMPTY>
<!ATTLIST KREW_DOC_HDR_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #IMPLIED
    DOC_HDR_STAT_CD CDATA #REQUIRED
    RTE_LVL CDATA #REQUIRED
    STAT_MDFN_DT CDATA #REQUIRED
    CRTE_DT CDATA #REQUIRED
    APRV_DT CDATA #IMPLIED
    FNL_DT CDATA #IMPLIED
    RTE_STAT_MDFN_DT CDATA #IMPLIED
    TTL CDATA #IMPLIED
    APP_DOC_ID CDATA #IMPLIED
    DOC_VER_NBR CDATA #REQUIRED
    INITR_PRNCPL_ID CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    RTE_PRNCPL_ID CDATA #IMPLIED
    DTYPE CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    APP_DOC_STAT CDATA #IMPLIED
    APP_DOC_STAT_MDFN_DT CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_LNK_T EMPTY>
<!ATTLIST KREW_DOC_LNK_T
    DOC_LNK_ID CDATA #IMPLIED
    ORGN_DOC_ID CDATA #REQUIRED
    DEST_DOC_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_NTE_T EMPTY>
<!ATTLIST KREW_DOC_NTE_T
    DOC_NTE_ID CDATA #IMPLIED
    DOC_HDR_ID CDATA #REQUIRED
    AUTH_PRNCPL_ID CDATA #REQUIRED
    CRT_DT CDATA #REQUIRED
    TXT CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_APP_DOC_STAT_T EMPTY>
<!ATTLIST KREW_DOC_TYP_APP_DOC_STAT_T
    DOC_TYP_ID CDATA #IMPLIED
    DOC_STAT_NM CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_DOC_TYP_ATTR_T EMPTY>
<!ATTLIST KREW_DOC_TYP_ATTR_T
    DOC_TYP_ATTRIB_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #REQUIRED
    RULE_ATTR_ID CDATA #REQUIRED
    ORD_INDX CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_PLCY_RELN_T EMPTY>
<!ATTLIST KREW_DOC_TYP_PLCY_RELN_T
    DOC_TYP_ID CDATA #IMPLIED
    DOC_PLCY_NM CDATA #IMPLIED
    PLCY_NM CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    PLCY_VAL CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_PROC_T EMPTY>
<!ATTLIST KREW_DOC_TYP_PROC_T
    DOC_TYP_PROC_ID CDATA #IMPLIED
    DOC_TYP_ID CDATA #REQUIRED
    INIT_RTE_NODE_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    INIT_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KREW_DOC_TYP_T EMPTY>
<!ATTLIST KREW_DOC_TYP_T
    DOC_TYP_ID CDATA #IMPLIED
    PARNT_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #IMPLIED
    DOC_TYP_VER_NBR CDATA #IMPLIED
    ACTV_IND CDATA #IMPLIED
    CUR_IND CDATA #IMPLIED
    LBL CDATA #IMPLIED
    PREV_DOC_TYP_VER_NBR CDATA #IMPLIED
    DOC_TYP_DESC CDATA #IMPLIED
    DOC_HDLR_URL CDATA #IMPLIED
    POST_PRCSR CDATA #IMPLIED
    JNDI_URL CDATA #IMPLIED
    BLNKT_APPR_PLCY CDATA #IMPLIED
    ADV_DOC_SRCH_URL CDATA #IMPLIED
    RTE_VER_NBR CDATA #IMPLIED
    NOTIFY_ADDR CDATA #IMPLIED
    APPL_ID CDATA #IMPLIED
    EMAIL_XSL CDATA #IMPLIED
    SEC_XML CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    BLNKT_APPR_GRP_ID CDATA #IMPLIED
    RPT_GRP_ID CDATA #IMPLIED
    GRP_ID CDATA #IMPLIED
    HELP_DEF_URL CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
    DOC_SEARCH_HELP_URL CDATA #IMPLIED
    DOC_HDR_ID CDATA #IMPLIED
>

<!ELEMENT KREW_EDL_ASSCTN_T EMPTY>
<!ATTLIST KREW_EDL_ASSCTN_T
    EDOCLT_ASSOC_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #REQUIRED
    EDL_DEF_NM CDATA #IMPLIED
    STYLE_NM CDATA #IMPLIED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_EDL_DEF_T EMPTY>
<!ATTLIST KREW_EDL_DEF_T
    EDOCLT_DEF_ID CDATA #IMPLIED
    NM CDATA #REQUIRED
    XML CDATA #REQUIRED
    ACTV_IND CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #REQUIRED
>

<!ELEMENT KREW_EDL_DMP_T EMPTY>
<!ATTLIST KREW_EDL_DMP_T
    DOC_HDR_ID CDATA #IMPLIED
    DOC_TYP_NM CDATA #REQUIRED
    DOC_HDR_STAT_CD CDATA #REQUIRED
    DOC_HDR_MDFN_DT CDATA #REQUIRED
    DOC_HDR_CRTE_DT CDATA #REQUIRED
    DOC_HDR_TTL CDATA #IMPLIED
    DOC_HDR_INITR_PRNCPL_ID CDATA #REQUIRED
    CRNT_NODE_NM CDATA #REQUIRED
    VER_NBR CDATA #IMPLIED
>

