test/kew/src/test/resources/org/kuali/rice/kew/clientapp/webservices/WorkflowDocumentActionsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions" xmlns:impl="http://server.eden.uis.iu.edu/WorkflowDocumentActions" xmlns:intf="http://server.eden.uis.iu.edu/WorkflowDocumentActions" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://exception.eden.uis.iu.edu" xmlns:tns1="http://vo.clientapp.eden.uis.iu.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vo.clientapp.eden.uis.iu.edu">
   <import namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>
   <import namespace="http://exception.eden.uis.iu.edu"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RecipientIdVO">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="UserIdVO">
    <complexContent>
     <extension base="tns1:RecipientIdVO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PropertyDefinitionVO">
    <sequence>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="value" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="WorkflowAttributeDefinitionVO">
    <sequence>
     <element name="attributeName" nillable="true" type="soapenc:string"/>
     <element name="constructorParameters" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="properties" nillable="true" type="impl:ArrayOf_tns1_PropertyDefinitionVO"/>
    </sequence>
   </complexType>
   <complexType name="DocumentContentVO">
    <sequence>
     <element name="applicationContent" nillable="true" type="soapenc:string"/>
     <element name="attributeContent" nillable="true" type="soapenc:string"/>
     <element name="attributeDefinitions" nillable="true" type="impl:ArrayOf_tns1_WorkflowAttributeDefinitionVO"/>
     <element name="fullContent" nillable="true" type="soapenc:string"/>
     <element name="routeHeaderId" nillable="true" type="soapenc:long"/>
     <element name="searchableContent" nillable="true" type="soapenc:string"/>
     <element name="searchableDefinitions" nillable="true" type="impl:ArrayOf_tns1_WorkflowAttributeDefinitionVO"/>
    </sequence>
   </complexType>
   <complexType name="UserVO">
    <sequence>
     <element name="displayName" nillable="true" type="soapenc:string"/>
     <element name="emailAddress" nillable="true" type="soapenc:string"/>
     <element name="emplId" nillable="true" type="soapenc:string"/>
     <element name="firstName" nillable="true" type="soapenc:string"/>
     <element name="lastName" nillable="true" type="soapenc:string"/>
     <element name="networkId" nillable="true" type="soapenc:string"/>
     <element name="userPreferencePopDocHandler" type="xsd:boolean"/>
     <element name="uuId" nillable="true" type="soapenc:string"/>
     <element name="workflowId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="NoteVO">
    <sequence>
     <element name="lockVerNbr" nillable="true" type="soapenc:int"/>
     <element name="noteAuthorWorkflowId" nillable="true" type="soapenc:string"/>
     <element name="noteCreateDate" nillable="true" type="xsd:dateTime"/>
     <element name="noteId" nillable="true" type="soapenc:long"/>
     <element name="noteText" nillable="true" type="soapenc:string"/>
     <element name="routeHeaderId" nillable="true" type="soapenc:long"/>
    </sequence>
   </complexType>
   <complexType name="RouteHeaderVO">
    <sequence>
     <element name="ackRequested" type="xsd:boolean"/>
     <element name="appDocId" nillable="true" type="soapenc:string"/>
     <element name="approveRequested" type="xsd:boolean"/>
     <element name="completeRequested" type="xsd:boolean"/>
     <element name="dateApproved" nillable="true" type="xsd:dateTime"/>
     <element name="dateCreated" nillable="true" type="xsd:dateTime"/>
     <element name="dateFinalized" nillable="true" type="xsd:dateTime"/>
     <element name="dateLastModified" nillable="true" type="xsd:dateTime"/>
     <element name="docRouteLevel" nillable="true" type="soapenc:int"/>
     <element name="docRouteStatus" nillable="true" type="soapenc:string"/>
     <element name="docTitle" nillable="true" type="soapenc:string"/>
     <element name="docTypeId" nillable="true" type="soapenc:long"/>
     <element name="docTypeName" nillable="true" type="soapenc:string"/>
     <element name="docVersion" nillable="true" type="soapenc:int"/>
     <element name="documentContent" nillable="true" type="tns1:DocumentContentVO"/>
     <element name="documentUrl" nillable="true" type="soapenc:string"/>
     <element name="fyiRequested" type="xsd:boolean"/>
     <element name="initiator" nillable="true" type="tns1:UserVO"/>
     <element name="notes" nillable="true" type="impl:ArrayOf_tns1_NoteVO"/>
     <element name="notesToDelete" nillable="true" type="impl:ArrayOf_tns1_NoteVO"/>
     <element name="overrideInd" nillable="true" type="soapenc:string"/>
     <element name="routeHeaderId" nillable="true" type="soapenc:long"/>
     <element name="userBlanketApprover" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="WorkgroupIdVO">
    <complexContent>
     <extension base="tns1:RecipientIdVO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ResponsiblePartyVO">
    <sequence>
     <element name="role" type="xsd:boolean"/>
     <element name="roleName" nillable="true" type="soapenc:string"/>
     <element name="user" type="xsd:boolean"/>
     <element name="userId" nillable="true" type="tns1:UserIdVO"/>
     <element name="workgroup" type="xsd:boolean"/>
     <element name="workgroupId" nillable="true" type="tns1:WorkgroupIdVO"/>
    </sequence>
   </complexType>
   <complexType name="ReturnPointVO">
    <sequence>
     <element name="nodeName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="MovePointVO">
    <sequence>
     <element name="startNodeName" nillable="true" type="soapenc:string"/>
     <element name="stepsToMove" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="AdHocRevokeVO">
    <sequence>
     <element name="actionRequestId" nillable="true" type="soapenc:long"/>
     <element name="nodeName" nillable="true" type="soapenc:string"/>
     <element name="userId" nillable="true" type="tns1:UserIdVO"/>
     <element name="workgroupId" nillable="true" type="tns1:WorkgroupIdVO"/>
    </sequence>
   </complexType>
   <complexType name="EmplIdVO">
    <complexContent>
     <extension base="tns1:UserIdVO">
      <sequence>
       <element name="emplId" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NetworkIdVO">
    <complexContent>
     <extension base="tns1:UserIdVO">
      <sequence>
       <element name="networkId" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UuIdVO">
    <complexContent>
     <extension base="tns1:UserIdVO">
      <sequence>
       <element name="uuId" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WorkflowIdVO">
    <complexContent>
     <extension base="tns1:UserIdVO">
      <sequence>
       <element name="workflowId" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WorkflowGroupIdVO">
    <complexContent>
     <extension base="tns1:WorkgroupIdVO">
      <sequence>
       <element name="workgroupId" nillable="true" type="soapenc:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WorkgroupNameIdVO">
    <complexContent>
     <extension base="tns1:WorkgroupIdVO">
      <sequence>
       <element name="workgroupName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RouteTemplateEntryVO">
    <sequence>
     <element name="docTypeId" nillable="true" type="soapenc:long"/>
     <element name="exceptionWorkgroupId" nillable="true" type="soapenc:long"/>
     <element name="finalApprover" type="xsd:boolean"/>
     <element name="jrf_ver_nbr" nillable="true" type="soapenc:int"/>
     <element name="mandatoryRoute" type="xsd:boolean"/>
     <element name="routeLevel" nillable="true" type="soapenc:int"/>
     <element name="routeLevelName" nillable="true" type="soapenc:string"/>
     <element name="routeMethodName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions">
   <import namespace="http://vo.clientapp.eden.uis.iu.edu"/>
   <import namespace="http://exception.eden.uis.iu.edu"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_PropertyDefinitionVO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:PropertyDefinitionVO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_WorkflowAttributeDefinitionVO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:WorkflowAttributeDefinitionVO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_NoteVO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:NoteVO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exception.eden.uis.iu.edu">
   <import namespace="http://vo.clientapp.eden.uis.iu.edu"/>
   <import namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WorkflowException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="superUserDisapproveResponse">

      <wsdl:part name="superUserDisapproveReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="acknowledgeDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="superUserApproveRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="disapproveDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="returnDocumentToPreviousNodeResponse">

      <wsdl:part name="returnDocumentToPreviousNodeReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="clearFYIDocumentResponse">

      <wsdl:part name="clearFYIDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="blanketApprovalRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="deleteDocumentResponse">

   </wsdl:message>

   <wsdl:message name="returnDocumentToPreviousNodeRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="tns1:ReturnPointVO"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="saveDocumentResponse">

      <wsdl:part name="saveDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="cancelDocumentResponse">

      <wsdl:part name="cancelDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="completeDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="revokeAdHocRequestsResponse">

      <wsdl:part name="revokeAdHocRequestsReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="superUserDisapproveRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="appSpecificRouteDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="soapenc:string"/>

      <wsdl:part name="in4" type="soapenc:string"/>

      <wsdl:part name="in5" type="tns1:ResponsiblePartyVO"/>

      <wsdl:part name="in6" type="soapenc:string"/>

      <wsdl:part name="in7" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="returnDocumentToPreviousRouteLevelResponse">

      <wsdl:part name="returnDocumentToPreviousRouteLevelReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="takeWorkgroupAuthorityRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="tns1:WorkgroupIdVO"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="revokeAdHocRequestsRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="tns1:AdHocRevokeVO"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="cancelDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="takeWorkgroupAuthorityResponse">

      <wsdl:part name="takeWorkgroupAuthorityReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="superUserCancelRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="routeDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="appSpecificRouteDocumentResponse">

      <wsdl:part name="appSpecificRouteDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="moveDocumentResponse">

      <wsdl:part name="moveDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="acknowledgeDocumentResponse">

      <wsdl:part name="acknowledgeDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="releaseWorkgroupAuthorityRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="tns1:WorkgroupIdVO"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createDocumentResponse">

      <wsdl:part name="createDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="blanketApprovalToNodesResponse">

      <wsdl:part name="blanketApprovalToNodesReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="saveRoutingDataResponse">

      <wsdl:part name="saveRoutingDataReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="WorkflowException">

      <wsdl:part name="fault" type="tns2:WorkflowException"/>

   </wsdl:message>

   <wsdl:message name="deleteDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="returnDocumentToPreviousRouteLevelRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:int"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="superUserCancelResponse">

      <wsdl:part name="superUserCancelReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="approveDocumentResponse">

      <wsdl:part name="approveDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="disapproveDocumentResponse">

      <wsdl:part name="disapproveDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="logDocumentActionRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="completeDocumentResponse">

      <wsdl:part name="completeDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="routeDocumentResponse">

      <wsdl:part name="routeDocumentReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="moveDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="tns1:MovePointVO"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="blanketApprovalToNodesRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="saveRoutingDataRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="blanketApprovalResponse">

      <wsdl:part name="blanketApprovalReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="clearFYIDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="saveDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="superUserApproveResponse">

      <wsdl:part name="superUserApproveReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="releaseWorkgroupAuthorityResponse">

      <wsdl:part name="releaseWorkgroupAuthorityReturn" type="tns1:RouteHeaderVO"/>

   </wsdl:message>

   <wsdl:message name="logDocumentActionResponse">

   </wsdl:message>

   <wsdl:message name="approveDocumentRequest">

      <wsdl:part name="in0" type="tns1:UserIdVO"/>

      <wsdl:part name="in1" type="tns1:RouteHeaderVO"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="WorkflowDocumentActions">

      <wsdl:operation name="createDocument" parameterOrder="in0 in1">

         <wsdl:input name="createDocumentRequest" message="impl:createDocumentRequest"/>

         <wsdl:output name="createDocumentResponse" message="impl:createDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="acknowledgeDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="acknowledgeDocumentRequest" message="impl:acknowledgeDocumentRequest"/>

         <wsdl:output name="acknowledgeDocumentResponse" message="impl:acknowledgeDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="approveDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="approveDocumentRequest" message="impl:approveDocumentRequest"/>

         <wsdl:output name="approveDocumentResponse" message="impl:approveDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="appSpecificRouteDocument" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7">

         <wsdl:input name="appSpecificRouteDocumentRequest" message="impl:appSpecificRouteDocumentRequest"/>

         <wsdl:output name="appSpecificRouteDocumentResponse" message="impl:appSpecificRouteDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="cancelDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="cancelDocumentRequest" message="impl:cancelDocumentRequest"/>

         <wsdl:output name="cancelDocumentResponse" message="impl:cancelDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="clearFYIDocument" parameterOrder="in0 in1">

         <wsdl:input name="clearFYIDocumentRequest" message="impl:clearFYIDocumentRequest"/>

         <wsdl:output name="clearFYIDocumentResponse" message="impl:clearFYIDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="completeDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="completeDocumentRequest" message="impl:completeDocumentRequest"/>

         <wsdl:output name="completeDocumentResponse" message="impl:completeDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="disapproveDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="disapproveDocumentRequest" message="impl:disapproveDocumentRequest"/>

         <wsdl:output name="disapproveDocumentResponse" message="impl:disapproveDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="routeDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="routeDocumentRequest" message="impl:routeDocumentRequest"/>

         <wsdl:output name="routeDocumentResponse" message="impl:routeDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="saveRoutingData" parameterOrder="in0 in1">

         <wsdl:input name="saveRoutingDataRequest" message="impl:saveRoutingDataRequest"/>

         <wsdl:output name="saveRoutingDataResponse" message="impl:saveRoutingDataResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="saveDocument" parameterOrder="in0 in1 in2">

         <wsdl:input name="saveDocumentRequest" message="impl:saveDocumentRequest"/>

         <wsdl:output name="saveDocumentResponse" message="impl:saveDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDocument" parameterOrder="in0 in1">

         <wsdl:input name="deleteDocumentRequest" message="impl:deleteDocumentRequest"/>

         <wsdl:output name="deleteDocumentResponse" message="impl:deleteDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="logDocumentAction" parameterOrder="in0 in1 in2">

         <wsdl:input name="logDocumentActionRequest" message="impl:logDocumentActionRequest"/>

         <wsdl:output name="logDocumentActionResponse" message="impl:logDocumentActionResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="superUserApprove" parameterOrder="in0 in1 in2">

         <wsdl:input name="superUserApproveRequest" message="impl:superUserApproveRequest"/>

         <wsdl:output name="superUserApproveResponse" message="impl:superUserApproveResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="superUserDisapprove" parameterOrder="in0 in1 in2">

         <wsdl:input name="superUserDisapproveRequest" message="impl:superUserDisapproveRequest"/>

         <wsdl:output name="superUserDisapproveResponse" message="impl:superUserDisapproveResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="superUserCancel" parameterOrder="in0 in1 in2">

         <wsdl:input name="superUserCancelRequest" message="impl:superUserCancelRequest"/>

         <wsdl:output name="superUserCancelResponse" message="impl:superUserCancelResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="blanketApproval" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="blanketApprovalRequest" message="impl:blanketApprovalRequest"/>

         <wsdl:output name="blanketApprovalResponse" message="impl:blanketApprovalResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="returnDocumentToPreviousRouteLevel" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="returnDocumentToPreviousRouteLevelRequest" message="impl:returnDocumentToPreviousRouteLevelRequest"/>

         <wsdl:output name="returnDocumentToPreviousRouteLevelResponse" message="impl:returnDocumentToPreviousRouteLevelResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="blanketApprovalToNodes" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="blanketApprovalToNodesRequest" message="impl:blanketApprovalToNodesRequest"/>

         <wsdl:output name="blanketApprovalToNodesResponse" message="impl:blanketApprovalToNodesResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="returnDocumentToPreviousNode" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="returnDocumentToPreviousNodeRequest" message="impl:returnDocumentToPreviousNodeRequest"/>

         <wsdl:output name="returnDocumentToPreviousNodeResponse" message="impl:returnDocumentToPreviousNodeResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="takeWorkgroupAuthority" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="takeWorkgroupAuthorityRequest" message="impl:takeWorkgroupAuthorityRequest"/>

         <wsdl:output name="takeWorkgroupAuthorityResponse" message="impl:takeWorkgroupAuthorityResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="releaseWorkgroupAuthority" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="releaseWorkgroupAuthorityRequest" message="impl:releaseWorkgroupAuthorityRequest"/>

         <wsdl:output name="releaseWorkgroupAuthorityResponse" message="impl:releaseWorkgroupAuthorityResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="moveDocument" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="moveDocumentRequest" message="impl:moveDocumentRequest"/>

         <wsdl:output name="moveDocumentResponse" message="impl:moveDocumentResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

      <wsdl:operation name="revokeAdHocRequests" parameterOrder="in0 in1 in2 in3">

         <wsdl:input name="revokeAdHocRequestsRequest" message="impl:revokeAdHocRequestsRequest"/>

         <wsdl:output name="revokeAdHocRequestsResponse" message="impl:revokeAdHocRequestsResponse"/>

         <wsdl:fault name="WorkflowException" message="impl:WorkflowException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WorkflowDocumentActionsServiceSoapBinding" type="impl:WorkflowDocumentActions">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="createDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="acknowledgeDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="acknowledgeDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="acknowledgeDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="approveDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="approveDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="approveDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="appSpecificRouteDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="appSpecificRouteDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="appSpecificRouteDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="cancelDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="cancelDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="clearFYIDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearFYIDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="clearFYIDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="completeDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="completeDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="completeDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="disapproveDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disapproveDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="disapproveDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="routeDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="routeDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="routeDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saveRoutingData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRoutingDataRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="saveRoutingDataResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saveDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="saveDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="deleteDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="logDocumentAction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logDocumentActionRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="logDocumentActionResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="superUserApprove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="superUserApproveRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="superUserApproveResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="superUserDisapprove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="superUserDisapproveRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="superUserDisapproveResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="superUserCancel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="superUserCancelRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="superUserCancelResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="blanketApproval">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="blanketApprovalRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="blanketApprovalResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="returnDocumentToPreviousRouteLevel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnDocumentToPreviousRouteLevelRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="returnDocumentToPreviousRouteLevelResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="blanketApprovalToNodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="blanketApprovalToNodesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="blanketApprovalToNodesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="returnDocumentToPreviousNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnDocumentToPreviousNodeRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="returnDocumentToPreviousNodeResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="takeWorkgroupAuthority">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="takeWorkgroupAuthorityRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="takeWorkgroupAuthorityResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="releaseWorkgroupAuthority">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="releaseWorkgroupAuthorityRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="releaseWorkgroupAuthorityResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="moveDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveDocumentRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="moveDocumentResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="revokeAdHocRequests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revokeAdHocRequestsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:input>

         <wsdl:output name="revokeAdHocRequestsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:output>

         <wsdl:fault name="WorkflowException">

            <wsdlsoap:fault name="WorkflowException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.eden.uis.iu.edu/WorkflowDocumentActions"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WorkflowDocumentActionsService">

      <wsdl:port name="WorkflowDocumentActionsService" binding="impl:WorkflowDocumentActionsServiceSoapBinding">

         <wsdlsoap:address location="RESOLVE_URL/WorkflowDocumentActionsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
