sampleapp/web-root/kuali/xml/GLCollector.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2006 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<xsd:schema elementFormDefault="qualified"
    targetNamespace="http://www.kuali.org/modules/gl/collector"
    xmlns="http://www.kuali.org/modules/gl/collector" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- simple data types -->
    <xsd:simpleType name="yearType">
        <xsd:restriction base="xsd:string">
	    <!-- FIXME: should be more strict about year check -->
            <xsd:pattern value="[0-9]{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="transactionEntrySequenceType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,5}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fdocNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9]{1,14}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="campusPhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="detailsType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="120"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToFourteenCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToTwoCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToFourCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToTenCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToFortyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToSeventyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToEightCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="oneToThirtyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="twoCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="emailType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
	    <!-- FIXME: add regex for email address -->
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="encumbranceUpdateCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="D"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="debitCreditCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="C"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="accountType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="subAcctType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="objectType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="subObjectType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- definition of simple type elements -->

    <!-- header fields -->   
    <xsd:element name="organizationCode" type="oneToFourCharType"/>
    <xsd:element name="transmissionDate" type="xsd:date"/>
    <xsd:element name="batchSequenceNumber" type="xsd:integer"/>
    <xsd:element name="personUserId" type="oneToEightCharType"/>
    <xsd:element name="workgroupName" type="oneToSeventyCharType"/>

    <!-- glEntry fields -->
    <xsd:element name="universityFiscalYear" type="yearType"/>
    <xsd:element name="chartOfAccountsCode" type="twoCharType"/>
    <xsd:element name="accountNumber" type="accountType"/>
    <xsd:element name="subAccountNumber" type="subAcctType"/>
    <xsd:element name="objectCode" type="objectType"/>
    <xsd:element name="subObjectCode" type="subObjectType"/>
    <xsd:element name="balanceTypeCode" type="twoCharType"/>
    <xsd:element name="objectTypeCode" type="twoCharType"/>
    <xsd:element name="universityFiscalAccountingPeriod" type="twoCharType"/>
    <xsd:element name="documentTypeCode" type="oneToFourCharType"/>
    <xsd:element name="originCode" type="twoCharType"/>
    <xsd:element name="documentNumber" type="fdocNumberType"/>
    <xsd:element name="transactionEntrySequenceId" type="xsd:integer"/>
    <xsd:element name="transactionLedgerEntryDescription" type="oneToFortyCharType"/>
    <xsd:element name="transactionLedgerEntryAmount" type="xsd:decimal"/>
    <xsd:element name="debitOrCreditCode" type="debitCreditCodeType"/>
    <xsd:element name="transactionDate" type="xsd:date"/>
    <xsd:element name="organizationDocumentNumber" type="oneToTenCharType"/>
    <xsd:element name="projectCode" type="oneToTenCharType"/>
    <xsd:element name="organizationReferenceId" type="oneToEightCharType"/>
    <xsd:element name="referenceDocumentTypeCode" type="oneToFourCharType"/>
    <xsd:element name="referenceOriginCode" type="oneToTwoCharType"/>
    <xsd:element name="referenceDocumentNumber" type="fdocNumberType"/>
    <xsd:element name="documentReversalDate" type="xsd:date"/>
    <xsd:element name="encumbranceUpdateCode" type="encumbranceUpdateCodeType"/>

    <!-- trailer -->
    <xsd:element name="totalRecords" type="xsd:integer"/>
    <xsd:element name="totalAmount" type="xsd:decimal"/>

    <!-- detail -->
    <xsd:element name="createDate" type="xsd:date" />
    <xsd:element name="createSequence" type="oneToEightCharType" />
    <xsd:element name="interDepartmentalBillingSequenceNumber" type="oneToTwoCharType"/>
    <xsd:element name="detailText" type="detailsType"/>
    <xsd:element name="amount" type="xsd:decimal"/>
 
    <!-- definition of complex type elements -->
    <xsd:element name="batches">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="batch"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
 
    <xsd:element name="batch">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="header"/>
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element minOccurs="0" maxOccurs="1" name="glEntry"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="detail"/>
                </xsd:sequence>
                <xsd:element ref="trailer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="header">
        <xsd:complexType>
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="chartOfAccountsCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="organizationCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="transmissionDate" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="batchSequenceNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="personUserId" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="workgroupName" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="detail">
        <xsd:complexType>
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="universityFiscalAccountingPeriod" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="universityFiscalYear" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="createDate" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="createSequence" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="chartOfAccountsCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="accountNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="subAccountNumber" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="objectCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="subObjectCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="interDepartmentalBillingSequenceNumber" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="originCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="documentTypeCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="documentNumber" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="amount" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="detailText" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="trailer">
        <xsd:complexType>
            <xsd:sequence>
	        <xsd:element ref="totalRecords" />
	        <xsd:element ref="totalAmount" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
 
    <xsd:element name="glEntry">
        <xsd:complexType>
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="universityFiscalYear" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="chartOfAccountsCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="accountNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="subAccountNumber" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="objectCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="subObjectCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="balanceTypeCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="objectTypeCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="universityFiscalAccountingPeriod" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="documentTypeCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="originCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="documentNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="transactionEntrySequenceId" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="transactionLedgerEntryDescription" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="transactionLedgerEntryAmount" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="debitOrCreditCode" />
               <xsd:element maxOccurs="1" minOccurs="1" ref="transactionDate" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="organizationDocumentNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="projectCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="organizationReferenceId" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="referenceDocumentTypeCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="referenceOriginCode" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="referenceDocumentNumber" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="documentReversalDate" />
               <xsd:element maxOccurs="1" minOccurs="0" ref="encumbranceUpdateCode" />
	 </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

