krad/krad-web-framework/src/main/resources/META-INF/krad_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.kuali.org/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="http://www.kuali.org/schema">

  <xsd:complexType name="schema">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:any processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax"/>
  </xsd:complexType>

  <xsd:element name="action" type="schema"/>
  <xsd:element name="actionField" type="schema"/>
  <xsd:element name="actionSecurity" type="schema"/>
  <xsd:element name="ActiveCollectionFilter" type="schema"/>
  <xsd:element name="alphaNumericPatternConstraint" type="schema"/>
  <xsd:element name="alphaPatternConstraint" type="schema"/>
  <xsd:element name="attributeDefinition" type="schema"/>
  <xsd:element name="attributeQuery" type="schema"/>
  <xsd:element name="attributeSecurity" type="schema"/>
  <xsd:element name="baseConstraint" type="schema"/>
  <xsd:element name="bindingInfo" type="schema"/>
  <xsd:element name="blockUI" type="schema"/>
  <xsd:element name="boxLayoutManager" type="schema"/>
  <xsd:element name="breadCrumbs" type="schema"/>
  <xsd:element name="businessObjectEntry" type="schema"/>
  <xsd:element name="caseConstraint" type="schema"/>
  <xsd:element name="charsetPatternConstraint" type="schema"/>
  <xsd:element name="checkboxControl" type="schema"/>
  <xsd:element name="collectionGroup" type="schema"/>
  <xsd:element name="collectionGroupSecurity" type="schema"/>
  <xsd:element name="columnCalculationInfo" type="schema"/>
  <xsd:element name="comparableInfo" type="schema"/>
  <xsd:element name="compareFieldCreateModifier" type="schema"/>
  <xsd:element name="componentConvertModifier" type="schema"/>
  <xsd:element name="componentSecurity" type="schema"/>
  <xsd:element name="dataField" type="schema"/>
  <xsd:element name="dataObjectEntry" type="schema"/>
  <xsd:element name="dataTable" type="schema"/>
  <xsd:element name="datePatternConstraint" type="schema"/>
  <xsd:element name="datePicker" type="schema"/>
  <xsd:element name="dialogGroup" type="schema"/>
  <xsd:element name="disclosure" type="schema"/>
  <xsd:element name="documentValuePathGroup" type="schema"/>
  <xsd:element name="documentView" type="schema"/>
  <xsd:element name="elCollectionFilter" type="schema"/>
  <xsd:element name="externalizableAttributeDefinitionProxy" type="schema"/>
  <xsd:element name="fieldGroup" type="schema"/>
  <xsd:element name="fieldSecurity" type="schema"/>
  <xsd:element name="fieldValidationMessage" type="schema"/>
  <xsd:element name="fileControl" type="schema"/>
  <xsd:element name="fixedPointPatternConstraint" type="schema"/>
  <xsd:element name="formView" type="schema"/>
  <xsd:element name="genericField" type="schema"/>
  <xsd:element name="gridLayoutManager" type="schema"/>
  <xsd:element name="group" type="schema"/>
  <xsd:element name="groupControl" type="schema"/>
  <xsd:element name="groupValidationMessages" type="schema"/>
  <xsd:element name="growls" type="schema"/>
  <xsd:element name="header" type="schema"/>
  <xsd:element name="help" type="schema"/>
  <xsd:element name="helpDefinition" type="schema"/>
  <xsd:element name="hiddenControl" type="schema"/>
  <xsd:element name="history" type="schema"/>
  <xsd:element name="iFrame" type="schema"/>
  <xsd:element name="image" type="schema"/>
  <xsd:element name="imageField" type="schema"/>
  <xsd:element name="inactivationBlockingDefinition" type="schema"/>
  <xsd:element name="inputField" type="schema"/>
  <xsd:element name="inquiry" type="schema"/>
  <xsd:element name="inquiryView" type="schema"/>
  <xsd:element name="integerPatternConstraint" type="schema"/>
  <xsd:element name="label" type="schema"/>
  <xsd:element name="labelSeparateModifier" type="schema"/>
  <xsd:element name="lightBox" type="schema"/>
  <xsd:element name="link" type="schema"/>
  <xsd:element name="linkField" type="schema"/>
  <xsd:element name="linkGroup" type="schema"/>
  <xsd:element name="lookupInputField" type="schema"/>
  <xsd:element name="lookupView" type="schema"/>
  <xsd:element name="maintenanceActionCollectionFilter" type="schema"/>
  <xsd:element name="maintenanceDocumentEntry" type="schema"/>
  <xsd:element name="maintenanceView" type="schema"/>
  <xsd:element name="mask" type="schema"/>
  <xsd:element name="maskFormatterLiteral" type="schema"/>
  <xsd:element name="maskFormatterSubString" type="schema"/>
  <xsd:element name="message" type="schema"/>
  <xsd:element name="messageField" type="schema"/>
  <xsd:element name="methodInvokerConfig" type="schema"/>
  <xsd:element name="mustOccurConstraint" type="schema"/>
  <xsd:element name="navigationGroup" type="schema"/>
  <xsd:element name="nodePrototype" type="schema"/>
  <xsd:element name="numericPatternConstraint" type="schema"/>
  <xsd:element name="pageGroup" type="schema"/>
  <xsd:element name="prerequisiteConstraint" type="schema"/>
  <xsd:element name="primitiveAttributeDefinition" type="schema"/>
  <xsd:element name="propertyReplacer" type="schema"/>
  <xsd:element name="quickFinder" type="schema"/>
  <xsd:element name="radioGroupControl" type="schema"/>
  <xsd:element name="referenceDefinition" type="schema"/>
  <xsd:element name="relationshipDefinition" type="schema"/>
  <xsd:element name="remoteFieldsHolder" type="schema"/>
  <xsd:element name="reorderer" type="schema"/>
  <xsd:element name="reorderingGroup" type="schema"/>
  <xsd:element name="richTable" type="schema"/>
  <xsd:element name="routingAttribute" type="schema"/>
  <xsd:element name="routingTypeDefinition" type="schema"/>
  <xsd:element name="scrollpane" type="schema"/>
  <xsd:element name="searchingAttribute" type="schema"/>
  <xsd:element name="searchingTypeDefinition" type="schema"/>
  <xsd:element name="selectControl" type="schema"/>
  <xsd:element name="simpleConstraint" type="schema"/>
  <xsd:element name="space" type="schema"/>
  <xsd:element name="spaceField" type="schema"/>
  <xsd:element name="spinner" type="schema"/>
  <xsd:element name="spinnerControl" type="schema"/>
  <xsd:element name="stackedLayoutManager" type="schema"/>
  <xsd:element name="stateMappingBase" type="schema"/>
  <xsd:element name="suggest" type="schema"/>
  <xsd:element name="supportAttributeDefinition" type="schema"/>
  <xsd:element name="tabGroup" type="schema"/>
  <xsd:element name="tableLayoutManager" type="schema"/>
  <xsd:element name="tabs" type="schema"/>
  <xsd:element name="textAreaControl" type="schema"/>
  <xsd:element name="textControl" type="schema"/>
  <xsd:element name="tooltip" type="schema"/>
  <xsd:element name="tree" type="schema"/>
  <xsd:element name="treeGroup" type="schema"/>
  <xsd:element name="uifKeyValuesFinderBase" type="schema"/>
  <xsd:element name="userControl" type="schema"/>
  <xsd:element name="utf8AnyCharacterPatternConstraint" type="schema"/>
  <xsd:element name="validationMessages" type="schema"/>
  <xsd:element name="validCharactersConstraint" type="schema"/>
  <xsd:element name="validDataPatternConstraint" type="schema"/>
  <xsd:element name="view" type="schema"/>
  <xsd:element name="viewAuthorizerBase" type="schema"/>
  <xsd:element name="viewPresentationControllerBase" type="schema"/>
  <xsd:element name="viewTheme" type="schema"/>
  <xsd:element name="whenConstraint" type="schema"/>
  <xsd:element name="workflowAttributeMetadata" type="schema"/>
  <xsd:element name="workflowAttributes" type="schema"/>
  <xsd:element name="workflowProperties" type="schema"/>
  <xsd:element name="workflowProperty" type="schema"/>
  <xsd:element name="workflowPropertyGroup" type="schema"/>
  <xsd:element name="checkboxGroupControl" type="schema"/>
  <xsd:element name="transactionalDocumentEntry" type="schema"/>

</xsd:schema>
